/* LAYOUT */
.container {
  display: flex;
  height: calc(100vh - 70px);
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1e293b;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* SECCIONES */
.section {
  display: none;
  animation: fade 0.4s ease;
}

.section.active {
  display: block;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* FORM */
form {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* CARDS */
.item {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}