body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.hero {
  background: #333;
  color: white;
  padding: 50px 20px;
}

.menu {
  padding: 20px;
}

.card {
  background: white;
  margin: 10px auto;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* HEADER MODERNO */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.3s;
}

/* LOGO */
.logo {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

/* NAV */
.nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
}

/* Hover elegante */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ef4444;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/* BOTÓN LOGIN */
.btn-login {
  background: #ef4444;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-login:hover {
  background: #dc2626;
}

/* MENÚ RESPONSIVE */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #0f172a;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  .nav.active {
    display: flex;
  }

  .nav a {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}